.info{
  text-align: center;
}
.info img{
  width:400px;
  height: auto;
  margin: auto;
  border: 1px solid black;
  border-radius: 2%;
}
.info ul{
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}
li.active{
  color: green;
}
.card a{
  padding: 10px;
  font-size: 20px;
  color: blue;
  cursor: pointer;
}